@import "../../styles/colors";

body {
  background-color: $background-dark;
}

.background {
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;

  &:last-of-type {
    background: linear-gradient(100deg, rgba(0,0,0, 0.95) 0, transparent 14rem),
                linear-gradient(-80deg, rgba(0,0,0, 0.95) 0, transparent 14rem),
                linear-gradient(180deg, rgba(0,0,0, 0.95) 0, transparent 14rem),
                // linear-gradient(10deg, #f40f3a 1rem, transparent 7rem),
                // linear-gradient(-5deg, #f40f3a 1rem, transparent 8rem),
    }
}

/* Background Animation */
.background-appear,
.background-enter {
  opacity: 0;
}
.background-appear-active,
.background-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-out 150ms;
}
.background-exit {
  opacity: 1;
}
.background-exit-active {
  opacity: 0;
  transition: opacity 150ms ease-in;
}
