@import '../../styles/colors';
@import '../../styles/screensize';
@import '../../styles/proportions.scss';

#watch-page {
  z-index: 10;
}

#watch-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  .view {
    width: inherit;
    height: inherit;

    .video-container {
      overflow: hidden;
      height: inherit;
      width: inherit;
      background-color: $background-darker;
    }
  }

  .controls {
    width: inherit;
    height: inherit;

    .buttons {
      position: absolute;
      top: 29px;
      right: 300px;
      z-index: 11;

      font-size: 1.25rem;

      .button {
        color: $nav-secondary;
        padding: 1rem 2rem;

        &:hover {
          color: $primary;
        }
      }
    }
  }

}