@import '../../styles/colors';
@import '../../styles/screensize';

#watch-page {
    top: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

#watch-container {
    width: 100%;
    height: 100%;

    // For some reason the background produces a little bit overflow
    overflow: hidden;

    display: flex;
    flex-direction: column;

    .controls {
        min-height: 80px;

        .buttons {
            position: absolute;
            top: 29px;
            right: 300px;
            z-index: 11;

            font-size: 1.25rem;

            .button {
                color: $nav-secondary;
                padding: 1rem 2rem;

                &:hover {
                    color: $primary;
                }
            }
        }
    }

    .view {
        width: inherit;
        height: calc(100% - 80px);

        display: flex;
        flex-direction: row;

        .video-container {
            flex: 1;
            margin: 0 2rem 2rem;

            background-color: $background-darker;
            border: solid $background-light 1px;
        }

        @media only screen and (max-width: $tablet-width) {
            flex-direction: column;
        }
    }
}
