#list-container {
  padding: 5rem 1rem;
  width: calc(100% - 2rem);

  @media only screen and (min-width: 600px){
    padding: 7rem 2rem 0 2rem;
    width: calc(100% - 4rem);
  }

  #list-title {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  #list {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;

    @media only screen and (min-width: 600px){
      grid-template-columns: repeat(2, 1fr);
    }
    @media only screen and (min-width: 900px){
      grid-template-columns: repeat(4, 1fr);
    }

    .list-item {
      width: 100%;
      height: calc(100% - 5px);
      margin: 0 auto;
      position: relative;
      box-shadow: rgba(0, 0, 0, 0.69) 0 26px 30px -10px, rgba(0, 0, 0, 0.73) 0 16px 10px -10px;
      border-radius: 5px;
      transition: all 200ms ease;

      .item-image {
        width: 100%;
        transition: filter 200ms ease;
        filter: brightness(.9);
        border-radius: inherit;
      }
      .item-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        white-space: nowrap;
        opacity: 0;
        font-size: 2rem;
        font-weight: bolder;
        text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5), -10px 10px 5px rgba(0, 0, 0, 0.5);
        transition: all 200ms ease;
      }

      &:hover {
        width: 95%;
        height: calc(95% - 5px);
        box-shadow: rgba(0, 0, 0, 0.8) 0 40px 58px -16px, rgba(0, 0, 0, 0.72) 0 30px 22px -10px;

        img {
          filter: brightness(.7) blur(2px);
        }
        span {
          opacity: 1;
          font-size: 3rem;
        }
      }
    }
  }
}
