@import '../../styles/colors.scss';
@import '../../styles/screensize.scss';
@import '../../styles/proportions.scss';

.tab-container {
  display: flex;
  flex-direction: column;

  .tab-header {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

    .tab {
      width: 2rem;
      height: 2rem;
      margin: .5rem;

      background-color: $black;
      cursor: pointer;
      border-radius: 3px;

      text-align: center;
      font-size: 1.5rem;
      font-weight: 500;
      color: $text-secondary;

      transition: color 0.2s ease;

      &:hover {
        color: $text-primary;
      }
    }

    .tab-active {
      color: $text-primary;
      background-color: $primary;
    }
  }

  @media only screen and (min-width: $tablet-width) {
    flex-direction: row-reverse;

    .tab-header {
      flex-direction: column;
      position: fixed;
      top: 0;
      bottom: 0;

      .tab {
        margin: .5rem 0;
      }
    }
    

    .tab-content {
      margin-right: 3rem;
    }
  }
}
