#party-container {
  width: 100%;

  .dialog {

    p, a {
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      margin: 0;
    }

    a {
      display: block;
      background-color: rgba(0, 0, 0, 0.6);
      padding: .5rem 2rem;
      font-size: 1.5rem;
      transition: all 200ms ease-in-out;

      &:hover {
        background-color: white;
        color: #f40f3a;
      }
    }

    .red {
      color: #f40f3a;
    }

    form {
      text-align: center;
      background-color: rgba(0, 0, 0, 0.6);
      padding: 3rem;

      h3 {
        margin: 0 0 3rem;
        font-size: 2rem;
      }

      label, input, button {
        font-size: 1.5rem;
        font-weight: bold;
        display: block;
        margin: .5rem auto;
      }
      input {
        margin-bottom: 2rem;
        padding: .3rem .5rem;
        text-align: center;
        color: white;
        background-color: rgba(244,15,58, 0.4);
        outline: none;
        border: none;
        transition: background-color 200ms ease-in-out;

        &:focus {
          background-color: rgba(244,15,58, 0.8);
        }
      }
      button {
        background-color: rgba(244,15,58, 0.4);
        border: none;
        color: white;
        outline: none;
        padding: .5rem 2rem;
        margin: 0;
        transition: all 200ms ease-in-out;

        i {
          margin-left: 1rem;
        }

        &:hover {
          background-color: white;
          color: #f40f3a;
          cursor: pointer;
        }
      }
    }

    .btn-bar {
      display: flex;
      justify-content: space-evenly;
    }

    #welcome-dialog {
      .title {
        margin-bottom: 7rem;

        .logo {
          font-size: 4rem;
        }
      }
      .buttons {
        .quest {
          margin-bottom: 2rem;
        }
      }
    }

    #invite-link {
      margin: 0 1rem 3rem 0;
      width: 15rem;
    }
    #copy-btn {
      margin: 0 0 3rem 0;
      padding: 0 .6rem;

      i {
        margin: 0;
      }
    }
  }
}