#background {
  filter: brightness(.75);
}
#home-container {
  padding-left: 2rem;
  width: calc(100% - 2rem);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .logo {
    margin: 0;
    padding: 0;
  }

  .tag-list {
    display: flex;
    flex-direction: row;

    .tag-list-item {
      padding: 0 1rem 0 0;
    }
  }
}
