#home-container {
  padding-left: 2rem;
  width: calc(100% - 2rem);
  height: 100vh;

  .logo {
    margin-top: 30vh;
    width: 430px;
    height: 200px;
  }
  .info {
    display: inline-block;
  }
  .tag-list {
    display: inline-flex;

    .tag-list-item {
      margin-left: 2rem;
      a {
        color: #aaa;
        &:hover {
          color: white;
        }
      }
    }
  }
  .description {
    margin-top: 1rem;
    width: 30%;
  }
  .controls {
    margin-top: 2rem;
    a {
      color: white;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 0.5rem 1.5rem;
      margin-right: 1rem;
    }
  }
  .list {
    margin-top: 2rem;
  }
}
