@import '../styles/screensize';
@import '../styles/proportions';

#page-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  .page {
    position: absolute;

    padding: $m-page-padding-top $m-page-padding-w $m-page-padding-bottom;
    width: $m-page-fullscreen-w;

    @media only screen and (min-width: $tablet-width) {
      padding: $page-padding-top $page-padding-w $page-padding-bottom;
      width: $page-fullscreen-w; //Fixes weird stretching behaviour with scroolbars
    }
  }
}
