@import '../../styles/colors.scss';
@import '../../styles/screensize.scss';

.season-container {
  display: inline-grid;
  gap: 2rem;
  grid-template-columns: 1fr;

  .part {
    background-color: $black;
    width: 100%;
    height: 11rem;

    // Align
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;
    justify-content: center;

    // Transition
    transition: all 0.15s ease;

    // Border Mask
    border-radius: 6px;
    overflow: hidden;

    &:hover {
      // Hover Zoom Effect
      transform: scale(1.02);
      z-index: 2;

      // More bright
      .part-preview * {
        filter: none;
      }
    }

    .part-preview {
      height: 11rem;
      width: 41rem;
      min-width: 19.5rem;
      overflow: hidden;

      display: inline-flex;
      flex-direction: column;
      justify-content: center;

      border-radius: 6px;

      * {
        transition: all 0.15s ease;
        filter: brightness(0.9);
      }

      .part-thumbnail {
        object-fit: cover;
        width: 100%;
      }

      .watch-indicator {
        display: none;
        width: 0;
        height: 4px;
        margin-top: -4px;
        //border-radius: 2px;
        background-color: $primary;
        filter: brightness(0.75);

        z-index: 1;
      }
    }

    .part-info {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 0 3rem;

      .part-index {
        color: $primary;
        font-weight: bold;
      }

      .part-title {
        font-size: 1.6rem;
        font-weight: bold;
        transition: color 0.15s ease;
      }

      .part-description {
        margin: 0.5rem 0;
        font-size: .9rem;
        font-weight: 300;
        max-height: 2.4rem;
        overflow: hidden;
      }

      .part-tags {
        align-self: end;

        display: flex;
        align-items: center;
        margin-bottom: 10px;

        span {
          padding-left: 0;

          display: inline-block;

          font-size: 15px; // Fixes weird stretching when zoomed in
          color: $text-secondary;

          &:first-child {
            font-weight: 500;
          }

          &:nth-child(2) {
            background-color: $text-secondary;
            margin: auto 0.5em;
            width: 1px;
            height: 1em;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    @media only screen and(max-width: $mobile-width) {
      height: unset;
      flex-direction: column;

      .part-preview {
        height: unset;
        width: unset;
        max-width: 41rem;
      }

      .part-info {
        margin-top: 1rem;
      }
    }
  }
}
