@import '../../styles/colors.scss';
@import '../../styles/screensize.scss';

.season-container {
    display: inline-grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);

    .part {
        background-color: $background-dark;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-self: center;
        justify-content: center;
        transition: all 0.15s ease;

        &:hover {
            background-color: $background-darker;

            .part-preview * {
                filter: none;
            }

            .part-info {
                .part-title {
                    color: $primary;
                }
            }
        }

        .part-preview {
            flex: 3;

            display: flex;
            flex-direction: column;

            width: 100%;

            * {
                transition: all 0.15s ease;
                filter: brightness(0.75);
            }

            .part-thumbnail {
                width: 100%;
            }

            .watch-indicator {
                width: 0;
                height: 4px;
                margin-top: -4px;
                border-radius: 2px;
                background-color: $primary;
                filter: brightness(0.75);

                z-index: 1;
            }
        }

        .part-info {
            flex: 5;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            * {
                padding-left: 20px;
            }

            .part-title {
                font-size: 20px;
                transition: all 0.15s ease;
            }

            .part-description {
                width: 90%;

                font-size: 14px;
                font-weight: 300;
            }

            .part-tags {
                display: flex;
                align-items: center;

                span {
                    padding-left: 0;

                    display: inline-block;
                    color: $text-secondary;

                    &:first-child {
                        font-weight: 500;
                    }

                    &:nth-child(2) {
                        background-color: $text-secondary;
                        margin: auto 0.5em;
                        width: 1px;
                        height: 1em;
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
