#header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  z-index: 10;
  padding: 1rem 2rem;

  @media only screen and (max-width: 600px){
    padding: 1rem;
  }

  #logo {
    display: inline-block;
    height: 100%;
    float: left;
    font-size: 2rem;
    font-weight: 800;
    color: white;
    width: 130px;

    #logoDot {
      color: #f40f3a;
    }
  }

  #head-nav {
    display: inline-flex;
    height: 100%;
    line-height: 100%;
    font-size: 1.25rem;

    .nav-item {
      margin: 0;
      padding: 0;
      justify-content: center;
      text-align: center;
      display: flex;

      @media only screen and (max-width: 600px){
        display: none;
      }

      .nav-link {
        color: #aaa;
        padding: 1rem 2rem;

        &:hover {color: white;}
        &.active {color: #f40f3a;}
      }


      &.nav-logo {
        display: flex !important;

        #logo {
          display: flex;
          font-size: 2rem;
          font-weight: 800;
          color: white;
          align-items: center;
          padding-right: 1rem;

          #logoDot {
            color: #f40f3a;
          }
        }
      }
    }
  }
}