#search-container {
  padding: 5rem 1rem;
  width: calc(100% - 2rem);

  @media only screen and (min-width: 600px){
    padding: 7rem 2rem 0 2rem;
    width: calc(100% - 4rem);
  }

  #search-bar {
    font-size: 4rem;
    font-weight: 500;
    margin: 1rem 0 6rem;
    position: relative;

    input {
      position: absolute;
      top: 0;
      width: -webkit-fill-available;
      height: 5rem;
      padding: 0 1rem;
      margin: 0;
      color: rgba(255, 255, 255, 0.8);
      border: none;
      border-bottom: rgba(255, 255, 255, 0.4) solid 7px;
      background-color: transparent;
      outline: none;
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      transition: all 200ms ease-out;

      &:focus {
        border-bottom-color: rgba(255, 255, 255, 0.8);
      }
    }
  }
}