#video-container, #series-container {
  width: 100%;
  height: 100%;
}

#background-img {
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(35%) blur(3px);
  width: 100%;
  height: 100%;
}

#overlay-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  @media (min-width: 768px){
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  @media (min-width: 992px){
    grid-template-rows: 1fr 1fr 1fr;
  }
}

#title-box {
  position: relative;
  grid-row: 1;
  grid-column: 1;

  #title-content {
    position: absolute;
    top: 50px;
    left: 20px;
    transition: left 0.5s;
    word-break: break-all;

    h1 {
      font-size: 3rem;
    }
    p {
      color: #f3022e;
    }
  }

  @media (min-width: 768px){
    grid-column: 1 / span 2;
    #title-content {
      top: 10px;
      left: 20px;
    }
  }

  @media (min-width: 992px){
    #title-content {
      top: 150px;
      left: 200px;

      &.toggled {
        left: 300px;
      }
    }
  }
}

#description-box {
  display: none;
  position: relative;
  grid-row: 2 / span 2;
  grid-column: 1;

  #description-content {
    position: absolute;
    top: 90px;
    left: 20px;
    width: 100%;
    height: 100%;
    transition: left 0.5s;

    .description {
      display: none;
    }

    .title {
      margin-bottom: 10px;
    }
    .text {
      font-family: "Novecento Wide Bold", "Helvetica Neue", sans-serif;
      color: #e0e0e0;
      line-height: 25px;
    }

    .data {
      margin-top: 35px;
      width: 100%;

      h3 {
        color: #f3022e;
        padding-bottom: 15px;
        font-family: "Novecento Wide Bold", "Helvetica Neue", sans-serif;
      }
    }
  }

  @media (min-width: 768px){
    display: block;
    grid-row: 1;
    grid-column: 1 / span 2;

    #description-content {
      .description.data {
        display: block;
      }
    }
  }

  @media (min-width: 992px){
    display: block;
    grid-row: 2 / span 2;
    grid-column: 1 / span 2;

    #description-content {
      left: 275px;
      width: 40%;
      .description {
        display: block;
      }
      &.toggled {
        left: 325px;
      }
    }
  }
}

#video-box {
  position: relative;
  grid-row: 2;
  grid-column: 1;

  #video-content {
    position: absolute;
    right: 5px;
    top: 25%;
    height: 160px;
    width: 65%;
    background-color: rgba(0,0,0,0.75);

    img {
      margin: 10px;
      width: auto;
      height: 140px;
    }
    #img-overlay {
      margin: 10px;
      width: 250px;
      height: 140px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0,0,0,0.3);
      transition: opacity 250ms linear;

      p {
        position: absolute;
        top: 40%;
        left: 25px;
      }
    }

    &:hover #img-overlay {
      opacity: 1;
      cursor: pointer;
      transition: opacity 150ms linear;
    }
  }

  @media (min-width: 768px){
    grid-row: 1;
    grid-column: 3;
    #video-content {
      right: 5px;
      width: 100%;
    }
  }

  @media (min-width: 992px){
    grid-row: 2;
    grid-column: 3;
    #video-content {
      right: 0;
      width: 50%;
      #img-overlay {
        opacity: 0;
      }
    }
  }
}

#part-switch-box {
  position: relative;
  grid-row: 3;
  grid-column: 1;

  @media (min-width: 768px){
    grid-row: 1;
    grid-column: 2;
  }

  @media (min-width: 992px){
    grid-row: 3;
  }
}

#original-box {
  position: relative;
  grid-row: 3;
  grid-column: 1;

  #original-content {
    position: absolute;
    right: 10px;
    bottom: 20px;

    &.hide {
      display: none;
    }

    p {
      font-family: "Novecento Wide Bold", "Helvetica Neue", sans-serif;
      b {
        font-family: "Novecento Wide UltraBold", "Helvetica Neue", sans-serif;
        color: #f3022e;
        font-size: 1.5em;
      }
    }
  }

  @media (min-width: 768px){
    grid-column: 2 / span 2;
    #original-content {
      right: 20px;
    }
  }

  @media (min-width: 992px){
    grid-column: 3;

    #original-content {
      right: 30px;
      bottom: 20px;

      p {
        font-size: 1.3em;
      }
    }
  }
}