@import '../../styles/colors';
@import '../../styles/screensize';
@import '../../styles/proportions';

#footer-container {
  height: $m-footer-h;
  z-index: 10;
  background: $background-dark;

  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;

  @media only screen and (min-width: $tablet-width) {
    display: none;
    height: $footer-h;
  }

  #foot-nav {
    display: flex;
    height: 100%;
    line-height: 100%;
    width: 100%;

    .nav-item {
      flex-grow: 1;
      display: flex;
      justify-content: center;

      .nav-link {
        flex-grow: 1;
        display: flex;
        color: $text-primary;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &.active {
          .nav-icon svg path {
            fill: $primary;
          }
        }

        i {
          font-size: 1.3rem;
        }

        span {
          font-size: 0.8rem;
        }
      }
    }
  }

  #mobile-nav {
    position: sticky;
    bottom: 0;
    display: flex;
  }
}
