#footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3.5rem;
  z-index: 10;
  background: rgba(0, 0, 0, 0.8);

  @media only screen and (min-width: 600px){
    display: none;
  }

  #foot-nav {
    display: flex;
    height: 100%;
    line-height: 100%;
    width: 100%;
    justify-content: space-evenly;

    .nav-item {
      width: 20%;

      .nav-link {
        color: white;
        text-align: center;

        &.active {
          color: #f40f3a;
        }

        i {
          position: relative;
          top: 0.4rem;
          left: 50%;
          transform: translateX(-50%);
          font-size: 1.5rem;
        }
        p {
          width: 100%;
          margin-top: 0.6rem;
        }
      }
    }
  }

  #mobile-nav {
    position: sticky;
    bottom: 0;
    display: flex;
  }
}