@import './styles/colors';

:root {
    font-family: 'Euclid Circular A', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
}

html, body, #root, #container {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  color: $text-primary;
  overflow: hidden auto;
}

*::selection {
    background: $primary;
    color: $text-primary;
}
*::-moz-selection {
    background: $primary;
    color: $text-primary;
}

a {
    text-decoration: none;
    color: $text-primary;
}
a:hover {
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $background-darker-alpha;
    padding: 2rem;
    border-radius: 5px;
}

/* simple - enter transition */
.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 150ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
}

// Custom Scrollbar
/* Works on Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: $scrollbar-foreground $scrollbar-background;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: auto;
}

*::-webkit-scrollbar-track {
    background: $scrollbar-background;
}

*::-webkit-scrollbar-thumb {
    background-color: $scrollbar-foreground;
    border-radius: 20px;
    border: 3px solid $scrollbar-background;
}
