@import '../../styles/screensize';
@import '../../styles/proportions';

#nf-container {
  display: grid;
  place-items: center;

  height: $m-page-fullscreen-h;
  width: $m-page-fullscreen-w;

  @media only screen and (min-width: $tablet-width) {
    height: $page-fullscreen-h;
    width: $page-fullscreen-w;
  }

  .nf-title {
    font-size: 5rem;
    text-align: center;

    p {
      font-size: 1rem;

      &.ops {
        font-size: 2.5rem;
        margin: 0;
      }
    }
  }
}
